<%= render 'layouts/flash_messages' if !flash.empty? %>
<%= form_for @stockist do |f| %>
  <%= f.hidden_field :shop_id, value: @shop.id %>
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-6">

        <div class="Polaris-FormLayout new-stockist">
          <div class="col-xs-12">
            <%= render 'new_text_input', {form: f, field: :name, label: 'Stockist Name'} %>
          </div>

          <div class="col-xs-6">
            <div class="Polaris-FormLayout__Item">

              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="Select1Label" for="Select1" class="Polaris-Label__Text">Country</label></div>
                </div>
                <div class="Polaris-Select Polaris-Select--placeholder"><select id="Select1" class="Polaris-Select__Input" aria-invalid="false"><option value="US">US</option></select>
                  <div
                    class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span></div>
                  <div class="Polaris-Select__Backdrop"></div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-xs-6">
            <%= render 'new_text_input', {form: f, field: :postcode, label: 'Zip/Post Code'} %>
          </div>
          <div class="col-xs-12">
            <%= render 'new_text_input', {form: f, field: :address_1, label: 'Address'} %>
          </div>
          <div class="col-xs-12">
            <%= render 'new_text_input', {form: f, field: :address_2, label: 'Address 2'} %>
          </div>
          <div class="col-xs-6">
            <%= render 'new_text_input', {form: f, field: :city, label: 'City'} %>
          </div>
          <div class="col-xs-6">
            <div class="Polaris-FormLayout__Item">

              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="Select1Label" for="Select1" class="Polaris-Label__Text">State</label></div>
                </div>
                <div class="Polaris-Select Polaris-Select--placeholder">
                  <select id="stockist_state" name="stockist[state]" class="Polaris-Select__Input">
                    <option value="">Select State</option>
                    <% @states.each do |s| %>
                      <% next if s[1].name.include? 'Armed Forces' %>
                      <option value="<%=s[0]%>" <%= "selected" if @stockist.state == s[0] %>><%=s[1].name%></option>
                    <% end %>
                  </select>
                  <div
                    class="Polaris-Select__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20"><path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path></svg></span></div>
                  <div class="Polaris-Select__Backdrop"></div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-sm-6">
            <%= render 'new_text_input', {form: f, field: :order_radius, label: 'Order Radius (miles)'} %>
          </div>
          <div class="col-sm-6">
            <%= render 'new_text_input', {form: f, field: :reward_percentage, label: 'Reward Percentage'} %>
          </div>
          <div class="col-sm-6">
            <div class="Polaris-FormLayout__Item">
              <div class="">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Start Date for Rewards</label></div>
                </div>
                <div class="Polaris-TextField">
                  <%= f.text_field :started_at, value: (@stockist.started_at.nil?) ? Date.today.strftime('%m/%d/%Y') : @stockist.started_at.strftime('%m/%d/%Y'), class: 'Polaris-TextField__Input', data: { provide: 'datepicker' } %>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="height: 80px;">

          </div>
          <div class="col-sm-6">
            <%= render 'checkboxes_for_product_type', {form: f, types: ProductType.all, label: 'Restrict by Product Type?'} %>
          </div>
        </div>
        <div class="submit-btns">
          <button id="import-csv" class="Polaris-Button Polaris-Button--secondary new-submit"><span class="Polaris-Button__Content"><span> Import CSV </span></span></button>
          <button type="submit" class="Polaris-Button Polaris-Button--primary new-submit"><span class="Polaris-Button__Content"><span><%= (['edit', 'update'].include? action_name) ? 'Save' : 'Create' %> Stockist</span></span></button>
        </div>

      </div>

      <div class="col-sm-6">
        <div id="map"></div>
      </div>

    </div>
  </div>

<% end %>
