<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Stockists",
        icon: "<%= asset_path('favicon.ico') %>",
        buttons: {
          primary: {
            label: 'New Stockist',
            message: 'save',
            href: 'https://stockistrewards.com/stockists/new'
          },
          secondary: {
            label: 'Help',
            message: 'help',
            href: 'mailto:info@mauinewyork.com'
          }
        }
      });
    });
    ShopifyApp.Bar.initialize
  </script>
<% end %>
<div class="container-fluid">
  <%= render 'shared/flash' if !flash.empty? %>
  <div class="row">
      <div class="Polaris-Card">

        <ul class="Polaris-ResourceList">
          <li class="Polaris-ResourceList__ItemWrapper" style="height: 100px; margin: 20px 0 0 20px;">

            <%= form_for @reward_period, url: '/calculate', id: 'calc' do |f| %>
              <div class="col-sm-2">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">Start Date</label></div>
                </div>
                <div class="Polaris-TextField">
                  <%= f.text_field :start_date, value: (@reward_period.start_date.nil?) ? @shop.earliest_start_date.strftime('%m/%d/%Y') : @reward_period.start_date.strftime('%m/%d/%Y'), class: 'Polaris-TextField__Input', data: { provide: 'datepicker' } %>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="Polaris-Labelled__LabelWrapper">
                  <div class="Polaris-Label"><label id="TextField8Label" for="TextField8" class="Polaris-Label__Text">End Date</label></div>
                </div>
                <div class="Polaris-TextField">
                  <%= f.text_field :end_date, value: (@reward_period.start_date.nil?) ? Date.today.strftime('%m/%d/%Y') : @reward_period.end_date.strftime('%m/%d/%Y'), class: 'Polaris-TextField__Input', data: { provide: 'datepicker' } %>
                  <div class="Polaris-TextField__Backdrop"></div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="Polaris-ButtonGroup__Item">
                  <button type="button" class="Polaris-Button Polaris-Button--primary calc-btn"><span class="Polaris-Button__Content"><span>Calculate</span></span></button>
                </div>
              </div>

            <% end %>

          </li>
          <% @stockists.each_with_index do |s,ii| %>
            <li class="Polaris-ResourceList__ItemWrapper">
              <div class="Polaris-ResourceList__Item Polaris-ResourceList__Item--link">
                <div class="container-fluid">
                  <div class="row product-video-row">
                    <div class="col-sm-6">
                      <div class="stockist-spacer">
                        <p class="Polaris-ResourceList__AttributeOne"><%= s.name %></p>
                        <div class="Polaris-ResourceList__AttributeTwo"><%= s.address_1 %></div>
                        <div class="Polaris-ResourceList__AttributeTwo"><%= s.address_2 %></div>
                        <div class="Polaris-ResourceList__AttributeTwo"><%= s.city %>, <%= s.state %>&nbsp;&nbsp;<%= s.postcode %></div>
                        <div class="Polaris-ResourceList__Badge">
                          <span class="Polaris-Badge"><%= s.reward_percentage %>% REWARD</span>
                          <span><%= s.product_type_list("for") %></span>
                        </div>
                        <div class="Polaris-ResourceList__Badge">Shipped within <span class="Polaris-Badge"><%= s.order_radius%> Miles</span></div>
                        <div class="Polaris-ResourceList__AttributeThree"><span class="Polaris-TextStyle--variationSubdued">Started <%=time_ago_in_words(s.started_at) %> ago</span></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <% if s.rewards.any? %>
                        <div><span class="eligible-order-count"><%= rc = s.rewards.count %></span> Order<%="s" if rc > 0 %> Eligible For Reward</div>
                        <div><span class="eligible-amount"><%= number_to_currency s.total_reward_amount %></span> To Be Paid</div>
                        <%= link_to s, class: 'Polaris-Button view-orders', data: { polaris: { unstyled: true } } do %>
                          <span class="Polaris-Button__Content product-view-link">View Orders</span>
                        <% end %>
                        <%= link_to export_stockist_path(s), class: 'Polaris-Button view-orders', data: { polaris: { unstyled: true } } do %>
                          <span class="Polaris-Button__Content product-view-link" href="/stockists/<%=s.id%>/orders/export">Export Orders</span>
                        <% end %>
                      <% elsif s.shop.synced_at.blank? %>
                        <% if ii == 0 %>
                          <div><span class="eligible-order-count">Syncing Orders...</div>
                        <% end %>
                      <% elsif s.calculated_at.blank? %>
                        <div><span class="eligible-order-count">Calculating Rewards...</div>
                      <% else %>
                        <div><span class="eligible-order-count">No Eligible Orders Yet</div>
                      <% end %>
                    </div>
                    <div class="col-sm-3">
                      <div class="Polaris-ButtonGroup product-links">
                        <div class="Polaris-ButtonGroup__Item">
                          <%= link_to [:edit, s], class: 'Polaris-Button', data: { polaris: { unstyled: true } } do %>
                            <span class="Polaris-Button__Content product-view-link">Edit</span>
                          <% end %>
                        </div>
                        <div class="Polaris-ButtonGroup__Item">
                          <%= link_to s,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'Polaris-Button' do %>
                            <span class="Polaris-Icon">
                              <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M16 6H4a1 1 0 1 0 0 2h1v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1a1 1 0 1 0 0-2zM9 4a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2H9zm2 12h2V8h-2v8zm-4 0h2V8H7v8z" fill="#31373D" fill-rule="evenodd"/></svg>
                            </span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
