<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Stockists",
        icon: "<%#= asset_path('favicon.ico') %>",
        buttons: {
          primary: {
            label: 'New Stockist',
            message: 'save',
            href: 'https://stockistrewards.com/stockists/new'
          },
          secondary: [{
            label: 'Help',
            message: 'help',
            href: 'mailto:info@mauinewyork.com'
          },{
            label: 'Settings',
            message: 'settings',
            href: 'https://stockistrewards.com/settings'
          }]
        }
      });
    });
    ShopifyApp.Bar.initialize
  </script>
<% end %>
<div class="container-fluid">
<div class="row">
    <div class="Polaris-Card">

      <ul class="Polaris-ResourceList">
        <% @stockists.each do |s| %>

          <li class="Polaris-ResourceList__ItemWrapper">
            <div class="Polaris-ResourceList__Item Polaris-ResourceList__Item--link">
              <div class="container-fluid">
                <div class="row product-video-row">
                  <div class="col-sm-6">

                    <p class="Polaris-ResourceList__AttributeOne"><%= s.name %></p>
                    <div class="Polaris-ResourceList__AttributeTwo"><%= s.address_1 %></div>
                    <div class="Polaris-ResourceList__AttributeTwo"><%= s.address_2 %></div>
                    <div class="Polaris-ResourceList__AttributeTwo"><%= s.city %>, <%= s.state %><%= s.postcode %></div>
                    <div class="Polaris-ResourceList__Badge"><span class="Polaris-Badge"><%= s.reward_percentage %>% REWARD</span></div>
                    <div class="Polaris-ResourceList__AttributeThree"><span class="Polaris-TextStyle--variationSubdued">Started <%=time_ago_in_words(s.started_at) %> ago</span></div>

                  </div>
                  <div class="col-sm-3">
                    <div><span class="eligible-order-count"><%= s.rewards.count %></span> Orders Eligible For Reward</div>
                    <div><span class="eligible-amount"><%= number_to_currency s.total_reward_amount %></span> To Be Paid</div>
                  </div>
                  <div class="col-sm-3">
                    <div class="Polaris-ButtonGroup product-links">
                      <div class="Polaris-ButtonGroup__Item">
                        <%= link_to s, class: 'Polaris-Button', data: { polaris: { unstyled: true } } do %>
                          <span class="Polaris-Button__Content product-view-link">View Orders</span>
                        <% end %>
                      </div>
                      <div class="Polaris-ButtonGroup__Item">
                        <%= link_to s,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'Polaris-Button' do %>
                          <span class="Polaris-Icon">
                            <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M16 6H4a1 1 0 1 0 0 2h1v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1a1 1 0 1 0 0-2zM9 4a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2H9zm2 12h2V8h-2v8zm-4 0h2V8H7v8z" fill="#31373D" fill-rule="evenodd"/></svg>
                          </span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
