<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Stockist Detail: <%= @stockist.name %>",
        icon: "<%= asset_path('favicon.ico') %>",
        buttons: {
          primary: {
            label: 'Edit Stockist',
            message: 'save',
            href: 'https://stockistrewards.com/stockists/<%=@stockist.id%>/new'
          },
          secondary: {
            label: 'Help',
            message: 'help',
            href: 'mailto:info@mauinewyork.com'
          }
        }
      });
    });
    ShopifyApp.Bar.initialize
  </script>
<% end %>
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">

      <div class="Polaris-Card">
        <ul class="Polaris-ResourceList">
          <% @stockist.rewards.each_with_index do |r, i| %>
            <li class="Polaris-ResourceList__ItemWrapper">
              <div class="Polaris-ResourceList__Item Polaris-ResourceList__Item--link"><a aria-describedby="ResourceListItem<%= i+1 %>" class="Polaris-ResourceList__Link" href="#" data-polaris-unstyled="true"></a>
                <div class="Polaris-ResourceList__Container" id="ResourceListItem<%= i+1 %>">
                  <div class="Polaris-ResourceList__Content">
                    <div class="Polaris-ResourceList__Attributes">
                      <p class="Polaris-ResourceList__AttributeOne">Order #<%= r.order.name %> Total: <%= number_to_currency(r.order.total) %>  Reward: <%= number_to_currency(r.amount) %></p>
                      <div class="Polaris-ResourceList__AttributeTwo" style="text-align:center">
                        <%= r.order.full_street_address %> (<%= r.order.distance_to(@stockist).round(1) %> Miles Away)
                      </div>
                      <div class="Polaris-ResourceList__AttributeThree"></div>
                      <div class="Polaris-ResourceList__AttributeFour"><span class="Polaris-TextStyle--variationSubdued"><%= time_ago_in_words(r.order.created_at) %> Ago</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>
